/* This is a separate style sheet  */
/* Another one can be created for hovering effects if required  */
/* Another one can be created for responsiveness if required  */
.box div {
  margin: auto;
}
#txt{
  margin-top: 20px;
  text-align: center;
}

.flip-card {
  background-color: transparent;
  /*width: 250px;*/
  width:100%;
  height: 280px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: transform 0.6s ease;
  /*transform-style: preserve-3d;*/
}

.rotate{
  transform: rotateY(180deg);
  transition: transform 0.6s ease-in-out;
}

/*.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}*/

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.flip-card-front img{
  width: 100%;
  /*max-height: 140px;*/
  object-position: top;
  object-fit: cover;
}

.flip-card-front{
  transition: 0.6s ease;
}

.flip-card-back{
  display: none;
}

ul.visible li{
  animation: rotation 0.6s;
}

.flip-card-back.visible{
  animation: rotation 0.6s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes rotation{
  0%{opacity :0;transform: rotateY(0deg);}
  100%{opacity:1;transform: rotateY(180deg);}
}

.flip-card:hover .flip-card-back {
  background-color: rgba(0, 0, 0, 0.6);
}


.flip-card-back li{
  cursor:pointer;
  margin: auto;

}
